@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    position: relative;
}

/* ν—¤λ” */

header{
    width: 100%;
    height: 77px;
    z-index: 999;
    position: fixed;
}

.header_wrap{
    width: 100%;
    height: 77px;
    margin: 0 auto;
}

.wrap{
    display: flex;
    flex-direction:column;
}

.nav_img{
    left: 25px;
    top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.nav_text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11px;
    left: 64px;
    color: #fff;
}

.nav_text>span:first-child{display: block;}

.nav_logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
}


.nav_version {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11px;
    text-align: right;
    right: 42px;
    top: -75px;
    color: #fff;
}

.nav_version > span:first-child {
    display: block;
    text-indent: 16px;

}

.bg{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 170px;
}

.p_text{
    width: 400px;
    position: absolute;
    display: flex;
    top: 100px;
    left: 200px;
}


/* ν‘Έν„° */

.footer{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    top: 940px;
    color: #fff;
}

.twotwo{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding: 0;
    top: 500px;
    left: 1600px;
}

.p_bg2{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:1030px;
}